.login {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vw;
}

img {
    margin-top: 3%;
    margin-bottom: 3%;
}

label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.0625em solid #e5e5e5;
    border-bottom-left-radius: var(--loginInputBorderRadius);
    border-bottom-right-radius: var(--loginInputBorderRadius);
    width: max-content;
    height: auto;
    padding: 0em 1.25em;
}


.login_form input[type='username'],
.login_form input[type='password'] {
    inline-size: 100%;
    border: solid white;
    padding: 1em 1.25em;
    outline: none;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover {
    background-color: #198d98;
}

.login input[type='submit'] {
    background-color: #08d;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border: solid;
    order: 1;
    padding: 0.75em 1.25em;
    transition: background-color 0.3s;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
    text-align: center;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 30vw;
}

/*change the width of the form and the font size of the text when the screen size is smaller than a certain value:*/
@media (max-width: 768px) {
    .login_form {
        width: 80%;
    }

    h1 {
        font-size: 1.2em;
    }
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}
